<%= form_for(imagequote) do |f| %>
  <% if imagequote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(imagequote.errors.count, "error") %> prohibited this imagequote from being saved:</h2>

      <ul>
      <% imagequote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
