<p id="notice"><%= notice %></p>

<h1>Imagequotes</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagequotes.each do |imagequote| %>
      <tr>
        <td>
          <img src="<%=imagequote.value%>" height="30px"/>
        </td>
        <td><%= link_to 'Show', imagequote %></td>
        <td><%= link_to 'Destroy', imagequote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagequote', new_imagequote_path %>
